@model IEnumerable<PublicUtilitiesRentManager.Domain.Entities.CalcCoefficient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coefficient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coefficient)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Condition }) |
                @Html.ActionLink("Details", "Details", new { id = item.Condition }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Condition })
            </td>
        </tr>
}
    </tbody>
</table>
