@model IEnumerable<RoomViewModel>

@{
    ViewData["Title"] = "Помещения";
}

<h1>Помещения</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOccupied)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Square)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOccupied)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Address }) <span>|</span>
                    }
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Address })
                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span> @Html.ActionLink("Удалить", "Delete", new { id = item.Address })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
