@model IEnumerable<RoomViewModel>

@{
    ViewData["Title"] = "Помещения";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Помещения</li>
    </ol>
</nav>

<h1>Помещения</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Square)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOccupied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncreasingCoefToBaseRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacementCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComfortCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialOrientationCoef)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Square)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccupied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncreasingCoefToBaseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacementCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComfortCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialOrientationCoef)
            </td>
            <td>
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Address }) <span>|</span>
                }
                @Html.ActionLink("Подробнее", "Details", new { id = item.Address })
                @if (User.IsInRole("Administrator"))
                {
                    <span>|</span> @Html.ActionLink("Удалить", "Delete", new { id = item.Address })
                }
            </td>
        </tr>
        }
    </tbody>
</table>
