@model IEnumerable<AccrualTypeViewModel>

@{
    ViewData["Title"] = "Виды начислений";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Виды начислений</li>
    </ol>
</nav>

<h1>Виды начислений</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Name }) <span>|</span>
                    }
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Name })
                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span> @Html.ActionLink("Удалить", "Delete", new { id = item.Name })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
