@model PublicUtilitiesRentManager.WebUI.Models.ContractViewModel

@{
    ViewData["Title"] = "Удаление";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"><a asp-controller="Contracts" asp-action="Index">Договора</a></li>
        <li class="breadcrumb-item active" aria-current="page">Удаление</li>
    </ol>
</nav>

<h1>Удаление</h1>

<h3>Вы уверены, что желаете удалить этот договор?</h3>
<div>
    <h4>Договор</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tenant)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccrualType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccrualType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    <form asp-action="DeleteConfirm" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
