@model IEnumerable<PublicUtilitiesRentManager.WebUI.Models.GenericAct>

@{
    ViewData["Title"] = "Акт сверки";

    var accrualSum = @Model.Where(a => !a.IsPayment).Sum(a => a.Summ);
    var paymentSum = @Model.Where(a => a.IsPayment).Sum(a => a.Summ);
    var subtraction = accrualSum - paymentSum;
}

<h1>Акт сверки</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label class="control-label">Арендатор:</label>
                <input type="text" class="form-control" name="tenant" />
            </div>
            <div class="form-group">
                <label class="control-label">Услуга:</label>
                <input type="text" class="form-control" name="accrualType" />
            </div>
            <div class="form-group">
                <label class="control-label">С:</label>
                <input type="date" class="form-control" name="from" />
            </div>
            <div class="form-group">
                <label class="control-label">По:</label>
                <input type="date" class="form-control" name="to" />
            </div>
            <div class="form-group">
                <input type="submit" value="Применить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row justify-content-between">
    <p class="col-md-2">Входящее сальдо: @(subtraction < 0m ? (-subtraction).ToString("F2") : "")</p>
    <p class="col-md-2">Исходящее сальдо: @(subtraction > 0m ? subtraction.ToString("F2") : "")</p>
</div>
<div class="row justify-content-between">
    <h2 class="col-md-2">Начислено</h2>
    <h2 class="col-md-2">Оплачено</h2>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccrualType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccrualType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.IsPayment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccrualType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summ)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tenant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccrualType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summ)
                    </td>
                </tr>
            }
        }
    <tr>
        <td>Итог:</td>
        <td></td>
        <td></td>
        <td></td>
        <td>@accrualSum.ToString("F2")</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@paymentSum.ToString("F2")</td>
    </tr>
    </tbody>
</table>