@model IEnumerable<PublicUtilitiesRentManager.WebUI.Models.GenericAct>

@{
    ViewData["Title"] = "Акт сверки";

    var accrualSum = @Model.Where(a => !a.IsPayment).Sum(a => a.Summ);
    var paymentSum = @Model.Where(a => a.IsPayment).Sum(a => a.Summ);
    var subtraction = accrualSum - paymentSum;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item active" aria-current="page">Акт сверки</li>
    </ol>
</nav>

<h1>Акт сверки</h1>

<div class="row justify-content-between">
    <p class="col-md-2">Входящее сальдо: @(subtraction < 0m ? (-subtraction).ToString("F2") : "")</p>
    <p class="col-md-2">Исходящее сальдо: @(subtraction > 0m ? subtraction.ToString("F2") : "")</p>
</div>
<div class="row justify-content-between">
    <h2 class="col-6 text-right">Начислено</h2>
    <h2 class="col-6 text-right">Оплачено</h2>
</div>
<table class="table table-sm table-responsive-md table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summ)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.IsPayment)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summ)
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summ)
                    </td>
                </tr>
            }
        }
        <tr>
            <td>Итог:</td>
            <td>@accrualSum.ToString("F2")</td>
            <td></td>
            <td>@paymentSum.ToString("F2")</td>
        </tr>
    </tbody>
</table>