@model CalcCoefficientViewModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что желаете удалить этот коэффициент?</h3>
<div>
    <h4>Коэффициент расчёта</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirm" asp-route-id="@Model.Condition">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
