@model CalcCoefficientViewModel

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробнее</h1>

<div>
    <h4>Коэффициент расчёта</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Condition }) <span>|</span>
    }
    <a asp-action="Index">Вернуться к списку</a>
</div>
