@model IEnumerable<RoomTypeViewModel>

@{
    ViewData["Title"] = "Виды помещений";
}

<h1>Виды помещений</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Редактировать", "Edit", new { id = item.Name }) <span>|</span>
                    }
                    @Html.ActionLink("Подробнее", "Details", new { id = item.Name })
                    @if (User.IsInRole("Administrator"))
                    {
                        <span>|</span> @Html.ActionLink("Удалить", "Delete", new { id = item.Name })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
